In [19]:
import numpy as np
from scipy import stats
from sklearn import linear_model
ols = linear_model.LinearRegression()

import numpy as np
import pandas as pd
import os
os.chdir("../input")
nycmodel = pd.read_csv('model_data.csv', sep=',', encoding='utf-8', index_col=False, dtype={'zipcode': 'S10'})

In [21]:
nycmodel.dtypes

id               int64
temperature      int64
rain           float64
zipcode         object
count            int64
month            int64
hour             int64
weekday          int64
dtype: object

In [22]:
nycmodel.describe()

,id,temperature,rain,count,month,hour,weekday
count,91010.000000,91010.000000,91010.000000,91010.000000,91010.0,91010.000000,91010.000000
mean,47859.306395,34.834194,0.002478,133.498242,1.0,11.833447,3.174420
std,27668.456704,8.546827,0.021956,309.742585,0.0,6.835626,2.004756
min,8.000000,11.000000,0.000000,1.000000,1.0,0.000000,0.000000
25%,23808.250000,28.000000,0.000000,3.000000,1.0,6.000000,1.000000
50%,47911.500000,36.000000,0.000000,13.000000,1.0,12.000000,3.000000
75%,71825.750000,41.000000,0.000000,87.000000,1.0,18.000000,5.000000
max,95758.000000,59.000000,0.460000,5165.000000,1.0,23.000000,6.000000

In [23]:
nycmodel.shape

(91010, 8)

In [24]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [25]:
just_dummies = pd.get_dummies(nycmodel['zipcode'])
just_dummies.head()

,10001,10002,10003,10004,10007,10009,10010,10011,10012,10013,...,11559,11561,11580,11581,11590,11691,11692,11693,11747,11801
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
just_dummies1 = just_dummies.applymap(np.int)
step_1 = pd.concat([nycmodel, just_dummies1], axis=1)
step_1.head()

,id,temperature,rain,zipcode,count,month,hour,weekday,10001,10002,...,11559,11561,11580,11581,11590,11691,11692,11693,11747,11801
0,8,45,0.0,10001,910,1,0,4,1,0,...,0,0,0,0,0,0,0,0,0,0
1,9,45,0.0,10002,2485,1,0,4,0,1,...,0,0,0,0,0,0,0,0,0,0
2,10,45,0.0,10003,718,1,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
3,11,45,0.0,10007,163,1,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12,45,0.0,10009,1223,1,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
step_1.drop(['zipcode','id'], inplace=True, axis=1)
step_1.head()

,temperature,rain,count,month,hour,weekday,10001,10002,10003,10004,...,11559,11561,11580,11581,11590,11691,11692,11693,11747,11801
0,45,0.0,910,1,0,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,45,0.0,2485,1,0,4,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,45,0.0,718,1,0,4,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,45,0.0,163,1,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,45,0.0,1223,1,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
step_1.shape

(91010, 199)

In [31]:
step_1.dtypes

temperature      int64
rain           float64
count            int64
month            int64
hour             int64
weekday          int64
10001            int64
10002            int64
10003            int64
10004            int64
10007            int64
10009            int64
10010            int64
10011            int64
10012            int64
10013            int64
10014            int64
10016            int64
10017            int64
10018            int64
10019            int64
10020            int64
10021            int64
10022            int64
10023            int64
10024            int64
10025            int64
10026            int64
10027            int64
10028            int64
                ...
11416            int64
11417            int64
11418            int64
11419            int64
11420            int64
11421            int64
11422            int64
11423            int64
11426            int64
11427            int64
11428            int64
11429            int64
11430            int64
11432            int64
11433            int64
11434            int64
11435            int64
11436            int64
11530            int64
11550            int64
11559            int64
11561            int64
11580            int64
11581            int64
11590            int64
11691            int64
11692            int64
11693            int64
11747            int64
11801            int64
dtype: object

In [ ]:
step_1.to_csv(index=False)

In [33]:
step_1.shape

(91010, 199)

In [37]:
target = step_1[['count']]
target.head()

   count
0    910
1   2485
2    718
3    163
4   1223

In [38]:
data = step_1[[col for col in step_1.columns if col not in ['count']]]
data.head()

,temperature,rain,month,hour,weekday,10001,10002,10003,10004,10007,...,11559,11561,11580,11581,11590,11691,11692,11693,11747,11801
0,45,0.0,1,0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,45,0.0,1,0,4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,45,0.0,1,0,4,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,45,0.0,1,0,4,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,45,0.0,1,0,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
print data.shape
print target.shape

(91010, 198)
(91010, 1)

In [42]:
import sklearn.cross_validation as cv
x_train, x_test, y_train, y_test = cv.train_test_split(data, target, test_size=2.0/10, random_state=0)
print x_train.shape
print x_test.shape
print y_train.shape
print y_test.shape

(72808, 198)
(18202, 198)
(72808, 1)
(18202, 1)

In [43]:
import numpy as np
from scipy import stats
from sklearn import linear_model
ols = linear_model.LinearRegression()
ols.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [44]:
'training R^2: %.2f', ols.score(x_train, y_train)

('training R^2: %.2f', 0.70044363215138206)

In [45]:
'testing R^2: %.2f', ols.score(x_test, y_test)

('testing R^2: %.2f', 0.683936688999491)

In [46]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_train, ols.predict(x_train))

28887.593516666981

In [47]:
mean_squared_error(y_test, ols.predict(x_test))

29693.207646214527

In [48]:
data.head()

,temperature,rain,month,hour,weekday,10001,10002,10003,10004,10007,...,11559,11561,11580,11581,11590,11691,11692,11693,11747,11801
0,45,0.0,1,0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,45,0.0,1,0,4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,45,0.0,1,0,4,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,45,0.0,1,0,4,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,45,0.0,1,0,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
from __future__ import print_function
from __future__ import division
from sklearn.cross_validation import cross_val_score
from sklearn import linear_model
from bayes_opt import BayesianOptimization
from sklearn import metrics
import math
data = x_train
target = y_train

def Ridgecv(alpha):
    return cross_val_score(linear_model.Ridge(alpha=float(alpha), random_state=2), 
                            data, target, 'mean_squared_error', cv=5).mean()

RidgeBO = BayesianOptimization(Ridgecv, {'alpha': (0, 8)})
RidgeBO.maximize(init_points=2, n_iter = 10)
print('Final Results')
print('Ridge: %f' % RidgeBO.res['max']['max_val'])

Initialization
-----------------------------------------
 Step |   Time |      Value |     alpha |
    1 | 00m01s | -29029.34466 |    5.7369 |
    2 | 00m01s | -29043.05495 |    7.8453 |
Bayesian Optimization
-----------------------------------------
 Step |   Time |      Value |     alpha |
    3

//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-3518726.93945312]), 'nit': 1, 'funcalls': 28}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-5715.27050781]), 'nit': 8, 'funcalls': 54}
  " state: %s" % convergence_dict)

 | 00m11s | -29014.86323 |    0.0000 |
    4

//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-18537.28222656]), 'nit': 3, 'funcalls': 50}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-775.625]), 'nit': 7, 'funcalls': 77}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-8630.375]), 'nit': 6, 'funcalls': 85}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-7109.125]), 'nit': 9, 'funcalls': 65}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-16931.75]), 'nit': 6, 'funcalls': 59}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-200.5]), 'nit': 3, 'funcalls': 59}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-4900.75]), 'nit': 10, 'funcalls': 95}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-31421.]), 'nit': 5, 'funcalls': 67}
  " state: %s" % convergence_dict)

 | 00m01s | -29012.69449 |    0.0000 |
    5

//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-30506.15332031]), 'nit': 6, 'funcalls': 64}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-322.41113281]), 'nit': 5, 'funcalls': 49}
  " state: %s" % convergence_dict)

 | 00m02s | -29042.23092 |    7.7318 |
    6 | 00m01s | -29019.75793 |    3.7450 |
    7 | 00m02s | -29028.51964 |    5.5899 |
    8

//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-269.07128906]), 'nit': 6, 'funcalls': 75}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-129.5]), 'nit': 7, 'funcalls': 97}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-3242.75]), 'nit': 6, 'funcalls': 88}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-39519.]), 'nit': 4, 'funcalls': 47}
  " state: %s" % convergence_dict)

 | 00m02s | -29028.05774 |    5.5061 |
    9 | 00m02s | -29035.57223 |    6.7606 |
   10

//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-4892971.]), 'nit': 1, 'funcalls': 36}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-3.]), 'nit': 7, 'funcalls': 50}
  " state: %s" % convergence_dict)

 | 00m02s | -29013.13996 |    1.1883 |
   11

//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-22308438.5]), 'nit': 0, 'funcalls': 21}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-794.91308594]), 'nit': 6, 'funcalls': 66}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([ 1.94628906]), 'nit': 7, 'funcalls': 31}
  " state: %s" % convergence_dict)
//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-805.33203125]), 'nit': 5, 'funcalls': 48}
  " state: %s" % convergence_dict)

 | 00m01s | -29033.76240 |    6.4768 |
   12 | 00m02s | -29040.36050 |    7.4692 |
Final Results
Ridge: -29012.694488

//anaconda/lib/python2.7/site-packages/sklearn/gaussian_process/gpr.py:427: UserWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'warnflag': 2, 'task': 'ABNORMAL_TERMINATION_IN_LNSRCH', 'grad': array([-55947.87011719]), 'nit': 6, 'funcalls': 84}
  " state: %s" % convergence_dict)

In [ ]:
#Value |     alpha | 
#-16229.70739 |    0.4542

In [51]:
ridge = linear_model.Ridge(alpha=7.4692)
ridge.fit(x_train, y_train)

Ridge(alpha=7.4692, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [52]:
ridge.score(x_train, y_train)

0.70023779033328859

In [54]:
ridge.score(x_test, y_test)

0.68426106011562637

In [55]:
mean_squared_error(y_train, ridge.predict(x_train))

28907.443786626263

In [56]:
mean_squared_error(y_test, ridge.predict(x_test))

29662.733944995129

In [18]:
###################################################################
# Random Forests
# feature engineering
import sklearn.cross_validation as cv
x_trainsub, x_testsub, y_trainsub, y_testsub = cv.train_test_split(data, target, 
  test_size=9.0/10, random_state=0)

In [22]:
from sklearn.ensemble import RandomForestRegressor

In [23]:
RFR=RandomForestRegressor(max_features=14,n_estimators=300)

In [25]:
RFR.fit(x_trainsub, y_trainsub)

/Users/shuozhang/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=14, max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=300, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [26]:
feature_imprtance = zip(x_trainsub.columns, RFR.feature_importances_)
dtype = [('feature', 'S10'), ('importance', 'float')]
feature_imprtance = np.array(feature_imprtance, dtype = dtype)
feature_sort = np.sort(feature_imprtance, order='importance')[::-1]
feature_sort

array([('Hour', 0.12729397179125934), ('10019', 0.1182810466811086),
       ('10016', 0.07787883494352378), ('10022', 0.06468753955236582),
       ('10011', 0.05955491515061628), ('10001', 0.05597750554921143),
       ('10003', 0.052201361015980934), ('Temp', 0.03788923526999576),
       ('Weekday', 0.03508408378412548), ('10036', 0.03452552437616951),
       ('10023', 0.03267357463523955), ('10017', 0.03013723700904612),
       ('10021', 0.02717078757184333), ('10012', 0.023182136918887847),
       ('10010', 0.023148965006179075), ('10065', 0.022946323733158924),
       ('10014', 0.017522256217495518), ('10028', 0.01702042107917143),
       ('Month', 0.016773592551213797), ('10024', 0.013230931801299549),
       ('10018', 0.013100258709988882), ('10013', 0.012374116934498861),
       ('10025', 0.011245050347024374), ('10128', 0.01011023606571611),
       ('10009', 0.010003418718409483), ('10002', 0.009625871548338397),
       ('11369', 0.008365745351010352), ('Rain', 0.004140816423970791),
       ('10035', 0.003644764691825184), ('10075', 0.0033233634004036735),
       ('10037', 0.003198369287806918), ('11211', 0.002194305948040862),
       ('11201', 0.002129741422548424), ('10029', 0.0020144183098421355),
       ('10038', 0.0015826167406570403), ('10007', 0.0012811987732840777),
       ('10027', 0.0011112462838528334), ('11101', 0.0007614430500329467),
       ('10005', 0.0006750379901864159), ('11249', 0.0006286332756799801),
       ('11217', 0.0005380348608911917), ('11373', 0.000460027942408308),
       ('10004', 0.00038184729994094637), ('10026', 0.0003079539948021345),
       ('11210', 0.00030001938508249785),
       ('11215', 0.00028789315478913583), ('11432', 0.000252366884432473),
       ('11222', 0.00024519373346884376),
       ('11213', 0.00023760694442728658), ('11377', 0.0002330978393980284),
       ('10472', 0.000228908617579124), ('11218', 0.00022888124335768007),
       ('11378', 0.00022011839533495192), ('11106', 0.0001830470621243799),
       ('11207', 0.00018277296637053423),
       ('11436', 0.00017900114248298396),
       ('11103', 0.00017311233379030644), ('11203', 0.0001695666686844477),
       ('11226', 0.00016678557210818583),
       ('11385', 0.00016051784056407212),
       ('10282', 0.00016012069286995873),
       ('10457', 0.00016009082020294497), ('11355', 0.000159953248177322),
       ('10460', 0.00015816824889717057),
       ('11232', 0.00013987112054258063),
       ('10455', 0.00013400781304115893),
       ('11225', 0.00013334648412250015), ('11206', 0.0001293123747301961),
       ('11238', 0.0001266944272910384), ('10459', 0.00012447612130389062),
       ('10453', 0.00012422398806029907), ('11430', 0.0001225066416967579),
       ('11367', 0.00012065121436364426),
       ('11230', 0.00011872417673552508),
       ('11235', 0.00011626134886311495),
       ('10044', 0.00011546302117073258), ('11231', 0.0001153063059556373),
       ('10462', 0.00011329943391918384),
       ('10039', 0.00011110818267419177),
       ('10006', 0.00010893017107597656),
       ('10454', 0.00010846047930215439),
       ('10452', 0.00010845079700120953),
       ('10031', 0.00010762709475581645),
       ('11420', 0.00010738131968425392), ('10467', 9.330753714438522e-05),
       ('11370', 9.099195198691523e-05), ('11212', 8.870576411101574e-05),
       ('11374', 8.748438137704052e-05), ('11375', 8.352218694521405e-05),
       ('10468', 8.233110582769296e-05), ('11205', 8.157570978103647e-05),
       ('11224', 8.12752009483396e-05), ('10463', 7.964171226197807e-05),
       ('11102', 7.79853742274274e-05), ('10473', 7.786518652722856e-05),
       ('11379', 7.768092233584981e-05), ('10032', 7.567090720179636e-05),
       ('11234', 7.249105932787256e-05), ('11209', 7.183271194839198e-05),
       ('10461', 6.746215564622651e-05), ('11354', 6.543204141604657e-05),
       ('10456', 6.477123306297135e-05), ('11220', 6.107914666782772e-05),
       ('11415', 5.919300354640708e-05), ('11233', 5.876684266824934e-05),
       ('11216', 5.621092427927042e-05), ('10280', 5.5931043028490124e-05),
       ('11418', 5.52568496635967e-05), ('11208', 5.52229070244096e-05),
       ('10281', 5.398180618405503e-05), ('10458', 5.0517394068739436e-05),
       ('11237', 4.733442873909558e-05), ('11236', 4.601094414980757e-05),
       ('11419', 4.410222401922544e-05), ('11371', 4.293912988798574e-05),
       ('10107', 4.217324487224495e-05), ('10069', 4.038494174925964e-05),
       ('10048', 3.972045052762676e-05), ('10469', 3.902589142331941e-05),
       ('11219', 3.8959627781365606e-05), ('11221', 3.590553159103358e-05),
       ('11368', 3.5205943075295956e-05),
       ('11223', 3.4178111901107484e-05), ('11104', 3.379470788857889e-05),
       ('10034', 3.122166653813298e-05), ('10030', 3.0255445957526357e-05),
       ('11435', 2.9847148696787133e-05),
       ('10168', 2.7864159286474343e-05),
       ('10451', 2.7405985800051096e-05),
       ('11105', 2.7298879709179887e-05),
       ('10033', 2.7066923075538703e-05),
       ('10270', 2.6757912835016317e-05), ('11372', 2.631852083300274e-05),
       ('11434', 2.574713473071804e-05), ('10471', 2.329096010014964e-05),
       ('10020', 2.2496997841669162e-05),
       ('10155', 2.2150439811860847e-05),
       ('10112', 2.2102932328046298e-05),
       ('11433', 2.1076702072650344e-05),
       ('10040', 2.0569007088092973e-05),
       ('10153', 2.0121433136002307e-05),
       ('11421', 1.7575989137968124e-05), ('11214', 1.731498812469903e-05),
       ('10465', 1.7134734631623026e-05),
       ('11229', 1.5700659669355723e-05),
       ('10154', 1.4542869378920964e-05),
       ('11228', 1.1748611144539608e-05),
       ('11417', 1.1686134544049956e-05),
       ('11120', 1.0450164924771924e-05), ('10470', 9.942316870522657e-06),
       ('10474', 9.895212330160584e-06), ('10466', 9.153345655712629e-06),
       ('11204', 9.12919446620317e-06), ('11361', 7.999850038183055e-06),
       ('10475', 7.830438114514387e-06), ('11365', 7.5488771505644545e-06),
       ('11416', 6.390448044188941e-06), ('11358', 5.176924900253064e-06),
       ('11422', 4.7034654899378785e-06), ('11239', 4.61113300064568e-06),
       ('11356', 4.609565926854578e-06), ('11357', 4.47506673277483e-06),
       ('11366', 4.474512124656587e-06), ('11413', 4.247380853786616e-06),
       ('11423', 3.883209340348673e-06), ('11427', 3.800746228798569e-06),
       ('11360', 3.6302629030283498e-06),
       ('11414', 3.5007438451911786e-06), ('11364', 3.236054423167012e-06),
       ('11426', 2.9767175045231023e-06), ('11412', 2.855641441049762e-06),
       ('11429', 2.5229250367584204e-06),
       ('10301', 2.3799480794535945e-06), ('11001', 2.210691390611789e-06),
       ('11428', 2.1892449394599116e-06),
       ('11003', 2.1372350308839567e-06),
       ('10464', 2.0910843714627616e-06),
       ('10305', 1.8876730663182553e-06), ('11451', 1.822302528566419e-06),
       ('11252', 1.5772144733078808e-06),
       ('10115', 1.3820488438249958e-06),
       ('11005', 1.0621345836668982e-06),
       ('10314', 1.0181320845974756e-06), ('10275', 9.774141511002257e-07),
       ('11411', 9.016721531139528e-07), ('11363', 8.999806292565243e-07),
       ('11004', 8.756033858971873e-07), ('11251', 8.510621093200615e-07),
       ('11362', 8.432389360390409e-07), ('10302', 6.229061698796461e-07),
       ('10304', 4.811722644375764e-07), ('10303', 3.9858531589570756e-07),
       ('10306', 3.35238520863961e-07), ('10312', 2.371058950758987e-07),
       ('11439', 1.227177538787054e-07), ('10310', 1.2047383886251106e-07),
       ('10278', 5.4692192909814625e-08),
       ('10308', 5.1804185662102945e-08),
       ('10307', 5.0353354379930926e-08), ('10309', 4.015947141855379e-08),
       ('11359', 2.447520817022592e-08), ('10124', 3.644953916698423e-09),
       ('10203', 0.0)],
      dtype=[('feature', 'S10'), ('importance', '<f8')])

In [27]:
df=pd.DataFrame(feature_sort)

In [29]:
df

     feature    importance
0       Hour  1.272940e-01
1      10019  1.182810e-01
2      10016  7.787883e-02
3      10022  6.468754e-02
4      10011  5.955492e-02
5      10001  5.597751e-02
6      10003  5.220136e-02
7       Temp  3.788924e-02
8    Weekday  3.508408e-02
9      10036  3.452552e-02
10     10023  3.267357e-02
11     10017  3.013724e-02
12     10021  2.717079e-02
13     10012  2.318214e-02
14     10010  2.314897e-02
15     10065  2.294632e-02
16     10014  1.752226e-02
17     10028  1.702042e-02
18     Month  1.677359e-02
19     10024  1.323093e-02
20     10018  1.310026e-02
21     10013  1.237412e-02
22     10025  1.124505e-02
23     10128  1.011024e-02
24     10009  1.000342e-02
25     10002  9.625872e-03
26     11369  8.365745e-03
27      Rain  4.140816e-03
28     10035  3.644765e-03
29     10075  3.323363e-03
..       ...           ...
173    11001  2.210691e-06
174    11428  2.189245e-06
175    11003  2.137235e-06
176    10464  2.091084e-06
177    10305  1.887673e-06
178    11451  1.822303e-06
179    11252  1.577214e-06
180    10115  1.382049e-06
181    11005  1.062135e-06
182    10314  1.018132e-06
183    10275  9.774142e-07
184    11411  9.016722e-07
185    11363  8.999806e-07
186    11004  8.756034e-07
187    11251  8.510621e-07
188    11362  8.432389e-07
189    10302  6.229062e-07
190    10304  4.811723e-07
191    10303  3.985853e-07
192    10306  3.352385e-07
193    10312  2.371059e-07
194    11439  1.227178e-07
195    10310  1.204738e-07
196    10278  5.469219e-08
197    10308  5.180419e-08
198    10307  5.035335e-08
199    10309  4.015947e-08
200    11359  2.447521e-08
201    10124  3.644954e-09
202    10203  0.000000e+00

[203 rows x 2 columns]

In [30]:
import sklearn.cross_validation as cv
x_train, x_test, y_train, y_test = cv.train_test_split(data, target, 
  test_size=2.0/10, random_state=0)

In [31]:
print x_train.shape

(490838, 203)

In [32]:
RFR1=RandomForestRegressor(max_features=14,n_estimators=300)
RFR1.fit(x_train, y_train)

/Users/shuozhang/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=14, max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=300, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [38]:
RFR1.score(x_train, y_train)

0.99597227970773394

In [39]:
RFR1.score(x_test, y_test)

0.9744864945331192

In [45]:
from sklearn.metrics import mean_squared_error
import math
math.sqrt(mean_squared_error(y_train, RFR1.predict(x_train)))

16.121384672409977

In [47]:
math.sqrt(mean_squared_error(y_test, RFR1.predict(x_test)))

40.61722668609526

In [33]:
feature_imprtance = zip(x_train.columns, RFR1.feature_importances_)
dtype = [('feature', 'S10'), ('importance', 'float')]
feature_imprtance = np.array(feature_imprtance, dtype = dtype)
feature_sort = np.sort(feature_imprtance, order='importance')[::-1]
df1=pd.DataFrame(feature_sort)

In [34]:
df1

     feature    importance
0       Hour  1.443652e-01
1      10019  1.129466e-01
2      10016  8.081394e-02
3      10022  6.361108e-02
4      10003  6.055554e-02
5      10011  5.840734e-02
6      10001  5.726639e-02
7    Weekday  3.719214e-02
8      10036  3.401524e-02
9      10017  2.981476e-02
10     10023  2.957173e-02
11     10021  2.932532e-02
12      Temp  2.580635e-02
13     10012  2.176571e-02
14     10010  2.151854e-02
15     10065  2.091538e-02
16     10014  1.771519e-02
17     10028  1.762282e-02
18     10018  1.333559e-02
19     10013  1.212472e-02
20     10024  1.207099e-02
21     10002  1.136422e-02
22     10025  1.131331e-02
23     Month  1.091107e-02
24     10009  1.037249e-02
25     10128  1.014850e-02
26     11369  8.341024e-03
27     10035  3.632485e-03
28     10075  3.545174e-03
29     10037  3.460359e-03
..       ...           ...
173    11001  8.053166e-07
174    10301  7.728214e-07
175    11003  7.158168e-07
176    10305  7.126724e-07
177    11411  6.759169e-07
178    11362  6.662232e-07
179    11428  6.473511e-07
180    11251  5.926397e-07
181    11451  5.369169e-07
182    10115  4.956111e-07
183    10275  4.574860e-07
184    11004  4.285587e-07
185    10314  4.198553e-07
186    10303  3.323037e-07
187    11252  3.208309e-07
188    10304  2.929545e-07
189    11363  2.173519e-07
190    10302  1.357091e-07
191    11005  1.257668e-07
192    10310  1.088424e-07
193    10306  1.039020e-07
194    11439  7.967739e-08
195    10312  6.768683e-08
196    10278  4.516196e-08
197    10308  3.866897e-08
198    10309  3.421764e-08
199    11359  2.556596e-08
200    10124  1.518595e-08
201    10307  7.399782e-09
202    10203  1.115203e-09

[203 rows x 2 columns]

In [40]:
df1.to_csv('importance.csv', sep='\t', encoding='utf-8')

In [43]:
RFR2=RandomForestRegressor(max_features=14,n_estimators=500)
RFR2.fit(x_train, y_train)

/Users/shuozhang/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=14, max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=500, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [48]:
RFR2.score(x_train, y_train)

0.9960088270267522

In [49]:
RFR2.score(x_test, y_test)

0.97451090051684952

In [50]:
math.sqrt(mean_squared_error(y_train, RFR2.predict(x_train)))

16.0480757008636

In [51]:
math.sqrt(mean_squared_error(y_test, RFR2.predict(x_test)))

40.59779500595372